@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('alsrubl-arial-bold.eot');
  src: url('alsrubl-arial-bold.eot?#iefix') format('embedded-opentype'), url('alsrubl-arial-bold.woff') format('woff'), url('alsrubl-arial-bold.ttf') format('truetype'), url('alsrubl-arial-bold.svg#ALSRublArialBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
