* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

body {
  min-width: 1200px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  background: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1146px;
  background: #849d8f url("../img/slide-1.jpg") no-repeat top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/slide-1.jpg");
}

.site-wrapper:after {
  background-image: url("../img/slide-2.jpg");
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
}

.inner-page {
  color: #ffffff;
  background: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 154px;
}

.main-header {
  margin-bottom: 5px;
  min-height: 95px;
  color: #ffffff;
}

.logo {
  padding: 9px 15px 0 0;
}

.main-navigation {
  position: relative;
  float: left;
  width: 600px;
  height: 78px;
}

.main-navigation ul {
  margin-top: 23px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 6px 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
}

.main-navigation a:hover {
  font-weight: 700;
  color: #323232;
  text-decoration: none;
  background-color: #f7f6f3;
  border-radius: 50px;
}

.active {
  background: #d07058;
  border-radius: 50px;
}

.active a {
  text-decoration: none;
}

.active a:hover {
  color: #ffffff;
  background: #d07058;
  border-radius: 50px;
}

.main-navigation .sub-menu {
  display: none;
  position: absolute;
  top: 53px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 144px;
  height: 180px;
  list-style: none;
  background: #f8f7f4;
  z-index: 5;
  border-radius: 3px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-list > .list:hover .sub-menu {
  display: block;
}

.main-navigation .sub-menu li {
  display: block;
}

.main-navigation .sub-menu a:hover {
  font-weight: 400;
  background: #fbded8;
  border-radius: 0;
}

.main-navigation .sub-menu a:active {
  font-weight: 400;
  background: #f6b5a5;
  border-radius: 0;
}

.main-navigation .sub-menu a {
  display: block;
  margin: 0;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.main-navigation .sub-menu .new a {
  position: relative;
  font-weight: 700;
}

.new a::after {
  content: "";
  position: absolute;
  left: 8px;
  bottom: 0;
  width: 128px;
  height: 1px;
  background: #cacac7;
}

.user-blok {
  float: right;
  margin: 24px 0 18px 0;
  max-width: 400px;
  height: 32px;
  font-size: 0;
}

.search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 33px;
  height: 33px;
  vertical-align: top;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
}

.search a {
  display: inline-block;
  vertical-align: top;
}

.search:hover {
  background: #ffffff;
}

.search::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 17px;
  height: 17px;
  background: url("../img/search.svg") no-repeat;
}

.search:hover::before {
  background: url("../img/search_hover.svg") no-repeat;
}

.search-inner {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  width: 341px;
  height: 120px;
  background: rgba(255, 255, 255, 0);
}

.search-form {
  position: absolute;
  top: 18px;
  right: 0;
  width: 341px;
  height: 84px;
  font-size: 14px;
  background: #ffffff;
  border-radius: 5px;
  border: 0;
  background: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.user-blok > .search:hover .search-inner {
  display: block;
}

.search-user {
  margin: 21px 16px;
  padding: 0 15px;
  width: 311px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 93px;
  height: 32px;
  padding: 8px 0 0 45px;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

.login:hover{
  color: #323232;
  background: #ffffff;
}

.login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 20px;
  height: 19px;
  background: url("../img/login.svg");
}

.login:hover::before {
  background: url("../img/login_hover.svg");
}

.login-inner {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  width: 280px;
  height: 252px;
  background: rgba(255, 255, 255, 0);
}

.login-form {
  position: absolute;
  top: 18px;
  right: 0;
  padding: 20px;
  width: 280px;
  height: 214px;
  font-size: 14px;
  border-radius: 5px;
  border: 0;
  background: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.user-blok > .login:hover .login-inner {
  display: block;
}

.login-form a {
  display: block;
  color: #323232;
}

.email-user, .password-user {
  width: 240px;
  height: 44px;
  margin-bottom: 20px;
  padding: 0 15px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.user-form {
  margin: 0;
  padding: 0;
  border: none;
}

.one-half {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 24px;
}

.one-half:first-child {
  padding-right: 20px;
}

.basket {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 7px 0 0 45px;
  min-width: 100px;
  height: 32px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

.basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 17px;
  width: 20px;
  height: 19px;
  background: url("../img/basket.svg") no-repeat;
}

.basket-full {
  position: relative;
  display: inline-block;
  padding: 8px 16px 0 45px;
  max-width: 200px;
  height: 32px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
  background: #ffffff;
}

.basket-full::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 17px;
  width: 20px;
  height: 19px;
  background: url("../img/basket-full.svg") no-repeat;
}

.basket-inner {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 20px 16px;
  width: 540px;
  height: 260px;
  background: rgba(255, 255, 255, 0);
}

.user-blok > .basket-full:hover .basket-inner {
  display: block;
}

.user-basket {
  position: absolute;
  top: 18px;
  right: 0;
  padding: 20px 16px;
  width: 540px;
  height: 242px;
  border-radius: 5px;
  border: 0;
  background: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.product-basket {
  margin-bottom: 20px;
  min-height: 34px;
  font-size: 0;
}

.product-basket p {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.delete-product {
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  width: 11px;
  height: 11px;
  background: url("../img/delete.svg") no-repeat;
  cursor: pointer;
}

.mini-preview {
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  width: 34px;
  height: 34px;
}

.title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 26px;
  max-width: 220px;
}

.product-weight {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 100px;
}

.price-basket {
  display: inline-block;
  vertical-align: middle;
}

.total-price {
  border-top: 1px solid #cacac7;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.checkout {
  float: right;
}

.header-contact {
  float: right;
  width: 267px;
  text-align: right;
}

.time {
  margin: 10px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.phone-number {
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: 900;
}

.slider {
  position: relative;
  padding-top: 250px;
  margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 3;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-3.jpg");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.jpg");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-1.jpg");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.breadcrumbs {
  float: left;
  margin-top: 28px;
  font-size: 0;
  color: #ffffff;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs-next {
  margin: 0 4px;
}

.inner-titel {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filter-form {
  margin-bottom: 40px;
  width: 880px;
  height: 134px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-sorting {
  float: left;
  margin: 0 16px 16px 0;
  width: 194px;
  height: 60px;
  cursor: pointer;
}

.filter-title {
  margin-bottom: 6px;
  padding-left: 16px;
}

.sorting-selected {
  position: relative;
  padding: 8px 16px 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
}

.sorting-selected:hover {
  color: #323232;
  background-color: #ffffff;
}

.sorting-selected::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 15px;
  width: 8px;
  height: 5px;
  background: url("../img/marker.svg") no-repeat;
}

.sorting-selected:hover:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 15px;
  width: 8px;
  height: 5px;
  background: url("../img/marker_hover.svg") no-repeat;
}

.sorting-selected .sub-menu {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 192px;
  height: 88px;
  list-style: none;
  background: #ffffff;
  z-index: 5;
  border-top: 1px solid transparent;
}

.filter-sorting > .sorting-selected:hover .sub-menu {
  display: block;
}

.sorting-selected .sub-menu a {
  display: block;
  padding: 3px 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
}

.sorting-selected .sub-menu a:hover {
  color: #ffffff;
  background-color: #1e90ff;
}

.sorting-selected .sub-menu li {

}

.filter-price {
  float: left;
  margin: 0 16px 16px 0;
  width: 220px;
  height: 60px;
}

.price-controls {
  position: relative;
  width: 220px;
  height: 36px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
}

.scale {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 188px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.bar {
  position: absolute;
  top: 0;
  left: 40px;
  width: 80px;
  height: 4px;
  background: #ffffff;
}

.price-toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.price-toggle-min {
  position: absolute;
  left: 40px;
}

.price-toggle-min:hover {
  position: absolute;
  top: 7px;
  left: 39px;
  width: 22px;
  height: 22px;
}

.price-toggle-max {
  position: absolute;
  left: 120px;
}

.price-toggle-max:hover {
  position: absolute;
  top: 7px;
  left: 119px;
  width: 22px;
  height: 22px;
}

.filter-fat {
  float: left;
  margin: 0 16px 16px 0;
  width: 414px;
  height: 60px;
}

.fat-controls {
  padding: 8px 16px 8px 46px;
  height: 36px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
}

.control-radio {
  position: relative;
  margin-right: 45px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.control-radio input[type="radio"] {
  display: none;
}

.control-radio input[type="radio"] + .control-indicator {
  position: absolute;
  top: 0;
  left: -30px;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.control-radio input[type="radio"] + .control-indicator:hover {
  position: absolute;
  top: 0;
  left: -30px;
  border: 2px solid #ffffff;
}

.control-radio input[type="radio"]:checked + .control-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.filter-fillers {
  float: left;
  margin: 0 16px 16px 0;
  width: 700px;
  height: 60px;
}

.control-checkbox {
  position: relative;
  margin-right: 48px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.control-checkbox input[type="checkbox"] {
  display: none;
}

.control-checkbox input[type="checkbox"] + .control-indicator {
  position: absolute;
  top: 0;
  left: -30px;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.control-checkbox input[type="checkbox"] + .control-indicator:hover {
  border: 2px solid #ffffff;
}

.control-checkbox input[type="checkbox"]:checked + .control-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 13px;
  height: 10px;
  background: url("../img/indicator-checkbox.svg") no-repeat;
  border-radius: 50%;
}

.fillers-controls {
  padding: 8px 16px 8px 48px;
  width: 700px;
  height: 36px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
}

.btn-form {
  float: left;
  margin: 22px 0 16px 0;
  width: 143px;
  height: 36px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  cursor: pointer;;
}

.btn-form:hover {
  color: #323232;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: #ffffff;
}

.btn-form:active {
  color: #323232;
  border: 2px solid #ededed;
  border-radius: 50px;
  box-shadow: 2px 2px 1 0 #69699 inset;
  background-color: #ededed;
}

.banner-wrapper {
  margin-bottom: 40px;
  width: 1146px;
  max-height: 268px;
}

.banner-wrapper a {
  text-decoration: none;
  color: #ffffff;
}

.banner-left {
  float: left;
  padding: 22px 20px;
  width: 560px;
  height: 229px;
  color: #ffffff;
  border-radius: 10px;
  background: url("../img/razz.jpg") no-repeat;
}

.banner-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banner-text {
  margin: 0;
  padding-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.banner-right {
  float: right;
  padding: 24px 20px;
  width: 560px;
  height: 229px;
  color: #ffffff;
  border-radius: 10px;
  background: url("../img/chocolate.jpg") no-repeat;
}

.catalog-product {
  width: 1146px;
  font-size: 0;
}

.product-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 26px;
  margin-bottom: 30px;
  width: 267px;
  height: 330px;
  cursor: pointer;
}

.product-item:nth-child(4n) {
  margin-right: 0;
}

.product-item:hover .product-hover {
  display: block;
}

.product-hover {
  display: none;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 278px;
  height: 405px;
  background: rgba(255,255, 255, 0.3);
  border-radius: 5px;
  z-index: 2;
}

.product-inner {
  position: relative;
  margin: 5px;
  height: 395px;
}

.btn-preview {
  position: absolute;
  bottom: 16px;
  margin: 0 28px;
}

.btn-preview a{
  color: #ffffff;
  text-decoration: none;
}

.hit {
  position: relative;
  z-index: 2;
}

.preview {
  width: 267px;
  height: 267px;
}

.preview img {
  position: absolute;
  top: 0px;
  border-radius: 154px;
  z-index: 1;
}

.price-title {
  position: absolute;
  top: 210px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  z-index: 2;
}

.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.b-rub {
  font-family: 'ALSRubl-Arial', Arial, sans-serif;
  line-height: normal;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.ruble {
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.price-title a {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.product-title {
  margin-top: 26px;
  padding: 0 5px;
}

.advantages {
  width: 1146px;
  height: 306px;
  margin-bottom: 40px;
  padding: 25px 20px;
  color: #323232;
  border-radius: 10px;
  background: url("../img/pattern.jpg");
}

.advantages h3 {
  margin: 0;
  padding-bottom: 8px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.block-left {
  float: left;
  width: 540px;
  margin-right: 26px;
  vertical-align: top;
}

.advantages-item {
  padding-left: 57px;
}

.icon-1 {
  position: relative;
}

.icon-1::before {
  position: absolute;
  top: -12px;
  left: 0px;
  content: "";
  width: 47px;
  height: 47px;
  background: url("../img/icecream.svg") no-repeat;
}

.icon-2 {
  position: relative;
}

.icon-2::before {
  position: absolute;
  top: -12px;
  left: 0px;
  content: "";
  width: 47px;
  height: 47px;
  background: url("../img/list.svg") no-repeat;
}

.block-right {
  float: left;
  width: 540px;
}

.icon-3 {
  position: relative;
}

.icon-3::before {
  position: absolute;
  top: -12px;
  left: 0px;
  content: "";
  width: 47px;
  height: 47px;
  background: url("../img/cow.svg") no-repeat;
}

.icon-4 {
  position: relative;
}

.icon-4::before {
  position: absolute;
  top: -12px;
  left: 0px;
  content: "";
  width: 47px;
  height: 47px;
  background: url("../img/thermometer.svg") no-repeat;
}

.content {
  width: 1146px;
  margin-bottom: 40px;
}

.content-left {
  float: left;
  padding: 24px 20px;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  background: url("../img/strawberry.jpg")
}

.blog-subtitle {
  display: block;
  font-size: 16pc
  line-height: 22px;
  color: #323232;
}

.blog-title {
  display: block;
  width: 290px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.blog-title:hover {
  color: #e84d37;
}

.blog-title:active {
  color: #e84d37;
}

.content-right {
  position: relative;
  float: right;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  background: #f8f7f4 url("../img/email_pattern.png");
}

.right-content {
  top: 5px;
  left: 5px;
  position: absolute;
  padding: 28px 20px;
  width: 548px;
  height: 210px;
  border-radius: 15px;
  background: #f8f7f4;
}

.newsletter {
  margin: 0;
  padding-bottom: 36px;
  width: 506px;
  color: #5a5a5a;
}

.newsletter-form {
}

.btn-submit {
  display: inline-block;
  padding: 10px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  vertical-align: top;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn-submit:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  outline: none;
  cursor: pointer;
}

.btn-submit:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  outline: none;
}

#total-field {
  display: inline-block;
  margin-right: 12px;
  padding: 0 16px;
  width: 356px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}

.map {
  position: relative;
  width: 100%;
  height: 429px;
  background: url("../img/map.jpg")
}

.map-contact {
  position: absolute;
  bottom: 62px;
  right: 27px;
  padding: 30px 26px;
  width: 302px;
  height: 305px;
  box-sizing: border-box;
  border-radius: 5%;
  background-color: #ffffff;
}

.map-contact p {
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.contact {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.btn-feedback {
  display: block;
  padding: 0;
  width: 250px;
  height: 47px;
  border-radius: 50px;
  background: #e95038;
}

.map-contact p {
  margin: 0;
}

.map-contact a {
  min-width: 250px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.pagination {
  position: relative;
  float: right;
  vertical-align: top;
  margin-bottom: 30px;
  font-size: 0;
}

.pagination::after {
  position: absolute;
  top: 55px;
  right: 0;
  content: "";
  width: 1146px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.pagination-btn-back {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 4px;
  width: 25px;
  height: 25px;
  color: #ffffff;
  opacity: 0.2;
  background: url("../img/back.svg") no-repeat left;
}

.pagination ul {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  min-width: 25px;
  height: 25px;
  text-align: center;
}

.namber-inactive:hover {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  color: #ffffff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.namber-inactive:active {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  color: #000000;
  border-radius: 50%;
  background: #ffffff;
}

.pagination a {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.pagination .namber-selected {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: top;
  color: #000000;
  border-radius: 50%;
  background: #ffffff;
}

.pagination-btn-next {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 4px;
  width: 25px;
  height: 25px;
  color: #ffffff;
  background: url("../img/back.svg") no-repeat left;
  transform: scale(-1, 1);
}


.main-footer {
  padding: 20px 0 22px 0;
}

.footer-social {
  padding: 16px 16px 16px 0;
  font-size: 0;
  float: left;
  width: 373px;
}

.footer-social a {
  margin-right: 13px;
}

.social-btn {
  display: inline-block;
  padding-right: 11px;
  width: 37px;
  height: 37px;
  vertical-align: top;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-btn:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn:hover::before {
  opacity: 1;
}

.social-btn:active::before {
  opacity: 1;
  border-radius: 50%;
  box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);
}

.social-btn-twitter::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../img/tw.svg") no-repeat;
  opacity: 0.8;
}

.social-btn-instagram::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../img/in.svg") no-repeat;
  opacity: 0.8;
}

.social-btn-facebook::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../img/fb.svg") no-repeat;
  opacity: 0.8;
}

.social-btn-vkontakte::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../img/vk.svg") no-repeat;
  opacity: 0.8;
}

.footer-menu {
  float: left;
  padding: 11px 26px;
  width: 400px;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

.footer-menu-item {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-left: 22px;
  width: 144px;
}

.footer-menu-item:last-child {
  display: inline-block;
  width: 192px;
  vertical-align: top;
}

.footer-menu a {
  display: block;
  color: #ffffff;
  text-decoration: underline;
}

.footer-menu a:hover {
  color: #ffbc9e;
}

.footer-menu a:active {
  color: #ffbc9e;
}

.item-providers {
  position: relative;
  font-size: 13px;
  font-weight: 700;
}

.item-providers::before {
  position: absolute;
  left: -22px;
  top: 50%;
  margin-top: -6px;
  content: "";
  width: 15px;
  height: 13px;
  background: url("../img/heart.svg") no-repeat center;
}

.copyright {
  float: right;
  width: 190px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.copyright a {
  color: #ffffff;
  text-decoration: underline;
}

.copyright a:hover {
  color: #ffbc9e;
}

.copyright a:active {
  color: #ffbc9e;
}

.copyright::before {
  content: "";
  position: absolute;
  width: 108px;
  height: 37px;
  background: url("../img/html_logo.svg") no-repeat;
}

.copyright p {
  margin: 0;
  padding-top: 44px;
}

.feedback {
  display: none;
  position: fixed;
  top: 120px;
  left: 50%;
  z-index: 5;
  margin-left: -239px;
  width: 478px;
  height: 442px;
  padding: 20px 26px;
  color: #000000;
  border-radius: 15px;
  background: #f8f7f4;
}

.modal-content-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.feedback h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback .text {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.feedback .user-name {
  margin-bottom: 30px;
  padding: 0 10px;
  width: 267px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}

.feedback .comment {
  margin-bottom: 16px;
  padding: 10px;
  width: 428px;
  height: 155px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}

.feedback .submit {
  position: absolute;
  bottom: 25px;
  right: 26px;
}

.btn-modal {
  float: right;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-bascket {
  display: none;
  position: absolute;
  top: 59px;
  left: 50%;
  z-index: 5;
  margin-left: 32px;
  width: 478px;
  height: 442px;
  padding: 20px 26px;
  color: #000000;
  width: 540px;
  height: 242px;
  border-radius: 5px;
  background-color: #ffffff;
}
