* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

body {
    min-width: 1200px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    background: #849d8f url("../img/icecream_first.jpg") no-repeat center top;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 154px;
}

.main-header {
  margin-bottom: 30px;
  min-height: 95px;
  color: #ffffff;
}

.logo {
  padding: 9px 15px 0 0;
}

.main-navigation {
  float: left;
  width: 600px;
  min-height: 95px;

}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 30px 13px;
  color: #ffffff;
  text-decoration: underline;
}

.main-navigation a:hover {
  background:
}

.user-blok {
  float: right;
  margin-top: 24px;
  max-width: 400px;
  font-size: 0;
}

.search {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 33px;
  height: 33px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
}

.search::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 17px;
  height: 17px;
  background: url("../img/search.svg") no-repeat;
}

.login {
  position: relative;
  display: inline-block;
  width: 93px;
  height: 32px;
  padding: 7px 0 0 43px;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

.login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 20px;
  height: 19px;
  background: url("../img/login.svg");
}

.basket {
  position: relative;
  display: inline-block;
  padding: 7px 0 0 45px;
  width: 117px;
  height: 32px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

.basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 17px;
  width: 20px;
  height: 19px;
  background: url("../img/basket.svg");
}

.header-contact {
  float: right;
  width: 267px;
  text-align: right;
}

.time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.phone-number {
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: 900;
}

.slider {
  margin-bottom: 40px;
  height: 464px;
}

.slider-header {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 196px;
}

.slider-header h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

.btn {
  display: block;
  width: 282px;
  margin: 0 auto 40px;
  padding: 12px 0 12px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
  background-color: #e95038;
}

.banner-wrapper {
  margin-bottom: 40px;
  width: 1146px;
  max-height: 268px;
}

.banner-wrapper a {
  text-decoration: none;
  color: #ffffff;
}

.banner-left {
  float: left;
  padding: 22px 20px;
  width: 560px;
  height: 229px;
  color: #ffffff;
  border-radius: 10px;
  background: url("../img/razz.jpg") no-repeat;
}

.banner-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banner-text {
  margin: 0;
  padding-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.banner-link {
  display: inline-block;
  padding: 11px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 100px;
  background: #e95038;

}

.banner-right {
  float: right;
  padding: 24px 20px;
  width: 560px;
  height: 229px;
  color: #ffffff;
  border-radius: 10px;
  background: url("../img/chocolate.jpg") no-repeat;
}

.catalog-product {
  width: 1146px;
  font-size: 0;
  margin-bottom: 40px;
}

.product-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 267px;
  margin-right: 26px;
}

.product-item:last-child {
  margin-right: 0;
}

.hit {
  position: relative;
  z-index: 2;
}

.preview {
  width: 267px;
  height: 267px;
}

.preview img {
  position: absolute;
  top: 0px;
  border-radius: 154px;
  z-index: 1;
}

.price-title {
  position: absolute;
  top: 210px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  z-index: 2;
}

.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.price-title a {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  text-align: center;
}

.advantages {
  width: 1146px;
  height: 306px;
  margin-bottom: 40px;
  padding: 25px 20px;
  color: #323232;
  border-radius: 10px;
  background: url("../img/pattern.jpg");
}

.advantages h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400px;
}

.advantages-item {
  padding-left: 57px;
}

.block-left {
  position: relative;
  float: left;
  width: 540px;
}

.block-left::before {
  position: absolute;
  top: 7px;
  content:"";
  width: 47px;
  height: 47px;
  background: url("../img/icecream.svg") no-repeat;
}

.content {
  width: 1146px;
  margin-bottom: 40px;
}

.content-left {
  float: left;
  padding: 24px 20px;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  background: url("../img/strawberry.jpg")
}

.content-right {
  float: right;
  padding: 24px 26px;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  background: #f8f7f4;
}

.blog-subtitle {
  display: block;
  font-size: 16pc
  line-height: 22px;
  color: #323232;
}

.blog-title {
  display: block;
  width: 290px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.newsletter {
  margin: 0;
  padding-bottom: 36px;
  width: 506px;
  color: #5a5a5a;
}

.newsletter-form {
}

.submit {
  display: inline-block;
  padding: 11px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 100px;
  color: #ffffff;
  background: #e95038;
  border: none;
}

#total-field {
  display: inline-block;
  margin-right: 12px;
  width: 356px;
  height: 44px;
  border-radius: 5px;
}

.map {
  position: relative;
  width: 1146px;
  height: 429px;
  background: url("../img/map.jpg")
}

.map-contact {
  position: absolute;
  bottom: 62px;
  right: 27px;
  padding: 30px 26px;
  width: 302px;
  height: 305px;
  box-sizing: border-box;
  border-radius: 5%;
  background-color: #ffffff;
}

.feedback {
  display: block;
  width: 254px;
  height: 47px;
  border-radius: 50px;
  background: #e95038;
}

.map-contact p {
  margin: 0;
}

.map-contact a {
  box-sizing: border-box;
  padding-top: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

}

.main-footer {
  padding: 20px 0 22px 0;
}

.footer-social {
  font-size: 0;
  float: left;
  width: 267px;
}

.footer-social a {
  margin-right: 13px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 35px;
  padding-right: 11px;
}

.social-btn-twitter::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../img/tw.svg") no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

.social-btn-instagram::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../img/in.svg") no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

.social-btn-facebook::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../img/fb.svg") no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

.social-btn-vkontakte::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  background: url("../img/vk.svg") no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

.footer-menu {
  float: left;
  width: 400px;
  height: 40px;
  font-size: 13px;
  line-height: 18px;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.footer-menu-item {
  display: inline-block;
  width: 120px;
  margin-left: 20px;
}

.footer-menu-item:last-child {
  display: inline-block;
  width: 170px;
}

.footer-menu a {
  color: #ffffff;
  text-decoration: underline;
}

.copyright {
  float: right;
  width: 190px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.copyright a {
  color: #ffffff;
  text-decoration: underline;
}

.copyright::before {
  content: "";
  position: absolute;
  width: 108px;
  height: 37px;
  background: url("../img/html_logo.svg") no-repeat;
}

.copyright p {
  margin: 0;
  padding-top: 44px;
}

h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
}
h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}
